
html {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    background-image: url('/Zdjęcia/backgrund3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

#topbar-menu{
margin: auto;
position:fixed;
left: 0;
right: 0;
}

#bottom-bar-menu{
margin: auto;
position:fixed;
position: sticky;
bottom:0;
left: 0;
right: 0;

}



ul>li{
    list-style: none;
    display:inline;
    font-size: 1.5rem;
    color: rgb(185, 185, 185);
}

ul{
/* From https://css.glass */
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    width: fit-content;
    padding: 0.2rem;
}

/*sekcja o mnie */
#about-me, #projects-containter{
  display: flex;
  flex-wrap: wrap;
  height: 40vw;
}

#my-skills>div{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}


.about-me-content, .project{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem;
}

.text {
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    text-align: justify;
    width: fit-content;
    padding: 0.3rem;
    font-size: 18px;
    color: white;
}

.text-test{
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    width: fit-content;
    margin: auto;
    padding: 0.5rem;
}

.text-skills{
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px); 
    width: fit-content;
    margin: auto;
    padding: 0.3rem;
}

/*sekcja skills */

#skills-section, #my-projects{
    padding: 20px 0 0 0 ;
    text-align: center;
    color: white;
}

#skills-containter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.skill{
    width: 33%;
    height: 150px;
    margin: 25px 0;
    font-size: 22px;
    font-weight: bold;
    color: white;
}
.text-project{
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    width: fit-content;
    margin: auto;
    padding: 0.5rem;
    margin: auto 20px;
    max-height: 300px;
    max-width: 200px;
}

progress {
    width: 200px;
    border: 2px;
    margin-top: 30px;
}

progress::-webkit-progress-bar{
    background: white;
}

progress::-webkit-progress-value{
    background: rgb(127, 213, 241);
}


#my-projects>div{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }
a:hover{
    transform: perspective(20px);
}

.fa-home,.fa-address-card,.fa-github-square,.fa-linkedin,.fa-envelope,.fa-folder-open,.fa-file-code,.fa-info,.fa-css3-alt,.fa-html5,.fa-js,.fa-wordpress-simple{
    color: rgb(84, 89, 149);
    margin: 4px;
}





